<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <script>
            const currentPath = window.location.pathname;
            if (currentPath.indexOf('/organization') < 0 && window.location.hostname !== 'localhost') {
                // Load Google Analytics only if the URL is not blocked
                let script = document.createElement("script");
                script.async = true;
                script.src = "https://www.googletagmanager.com/gtag/js?id=G-BK8KKXCR2E";
                document.head.appendChild(script);

                script.onload = function () {
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());
                    gtag('config', 'G-BK8KKXCR2E');
                };
            }
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Typewriting - Chatbot that replaces forms.{% endblock %}</title>
        <meta name="description" content="An intelligent feedback tool that listens, asks follow-up questions, identifies key information, and explains to help customers better understand your service or product.">
        <meta name="keywords" content="business communication, AI chatbot, email management, generative AI, inbox automation, smart replies, AI assistant, automated responses, chat-based AI, business AI tools, reduce email overload, AI customer support, smart business chat, enterprise AI, document-based AI replies">
        <meta property="og:image" content="https://typewriting.ai/Typewriting-logo.jpg">
        <link rel="canonical" href="https://ask.typewriting.ai">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⬛</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>tw</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script>
            //Redirect to https and proper domain
            (function () {
                if (window.location.protocol === "http:") {
                    window.location.href = "https://" + window.location.host + window.location.pathname + window.location.search;
                } else if (window.location.hostname !== 'localhost' && window.location.hostname !== 'ask.typewriting.ai') {
                    window.location.href = "https://ask.typewriting.ai" + window.location.pathname + window.location.search;
                }
            })();

            let App = { domain: window.location.host, base: window.location.origin, api_base: window.location.origin + '/api', google_client_id: '{{ google_client_id }}', stripe_payment_link: '{{ stripe_payment_link }}' };
        </script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <style>
            body {
                background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
                min-height: 100vh;
            }

            .container {
                max-width: 960px;
            }

            .pricing-header {
                max-width: 700px;
            }

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
              }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: rgba(0, 0, 0, .1);
                border: solid rgba(0, 0, 0, .15);
                border-width: 1px 0;
                box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }

            .b-example-vr {
                flex-shrink: 0;
                width: 1.5rem;
                height: 100vh;
            }

            .bi {
                vertical-align: -.125em;
                fill: currentColor;
            }

            .nav-scroller {
                position: relative;
                z-index: 2;
                height: 2.75rem;
                overflow-y: hidden;
            }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .btn-bd-primary {
                --bd-violet-bg: #712cf9;
                --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

                --bs-btn-font-weight: 600;
                --bs-btn-color: var(--bs-white);
                --bs-btn-bg: var(--bd-violet-bg);
                --bs-btn-border-color: var(--bd-violet-bg);
                --bs-btn-hover-color: var(--bs-white);
                --bs-btn-hover-bg: #6528e0;
                --bs-btn-hover-border-color: #6528e0;
                --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
                --bs-btn-active-color: var(--bs-btn-hover-color);
                --bs-btn-active-bg: #5a23c8;
                --bs-btn-active-border-color: #5a23c8;
            }

            .bd-mode-toggle {
                z-index: 1500;
            }

            .bd-mode-toggle .dropdown-menu .active .bi {
                display: block !important;
            }

            .typing-loader {
                display: flex;
                gap: 5px;
            }

            .typing-loader span {
                width: 8px;
                height: 8px;
                background-color: #fff; /* Light color for dark background */
                border-radius: 50%;
                display: inline-block;
                animation: typing 1.5s infinite ease-in-out;
            }

            .typing-loader span:nth-child(1) {
                animation-delay: 0s;
            }
            .typing-loader span:nth-child(2) {
                animation-delay: 0.2s;
            }
            .typing-loader span:nth-child(3) {
                animation-delay: 0.4s;
            }

            @keyframes typing {
                0%, 80%, 100% {
                    transform: translateY(0);
                    opacity: 0.3;
                }
                40% {
                    transform: translateY(-5px);
                    opacity: 1;
                }
            }

            b, strong {
                font-weight: bold !important;
            }

            /* Simple spinner */
            .spinner {
                width: 50px;
                height: 50px;
                border: 4px solid #fff;
                border-top: 4px solid #3498db;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>